---
import data from '../data/event.json';
---

<!-- Sección fotos -->
<div class="flex flex-col items-center my-5">
  <h1 class="font-roboto font-semibold text-3xl text-black mb-3 mx-8 sm:mx-auto text-center">CELEBRAMOS MIS 15</h1>
  <img src="/images/camera.webp" alt="Descripción del gif" class="w-20 h-20" loading="lazy"/>
</div>

<swiper-container class="mySwiper w-full py-[50px]" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
    <swiper-slide class="bg-center bg-cover w-[300px] h-[300px]">
      <img src={data.gallery[0]} alt="Foto de galeria" class="block w-full" loading="lazy" />
    </swiper-slide>
    <swiper-slide class="bg-center bg-cover w-[300px] h-[300px]">
      <img src={data.gallery[1]} alt="Foto de galeria" class="block w-full" loading="lazy" />
    </swiper-slide>
    <swiper-slide class="bg-center bg-cover w-[300px] h-[300px]">
      <img src={data.gallery[2]} alt="Foto de galeria" class="block w-full" loading="lazy" />
    </swiper-slide>
    <swiper-slide class="bg-center bg-cover w-[300px] h-[300px]">
      <img src={data.gallery[3]} alt="Foto de galeria" class="block w-full" loading="lazy" />
    </swiper-slide>
   <swiper-slide class="bg-center bg-cover w-[300px] h-[300px]">
      <img src={data.gallery[4]} alt="Foto de galeria" class="block w-full" loading="lazy" />
    </swiper-slide>
    <swiper-slide class="bg-center bg-cover w-[300px] h-[300px]">
      <img src={data.gallery[5]} alt="Foto de galeria" class="block w-full" loading="lazy" />
    </swiper-slide>
  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
