---
import data from '../data/event.json';
import Modal from './Modal.astro';

interface Props {
  isBrindis: boolean;
}

const { isBrindis } = Astro.props;

let eventDate: Date;
let festTitle: string;
let dateAdditional = "";
let cardValue = "";
let alias = "";
let formLink = "";

if(isBrindis) {
	eventDate = new Date(data.brindis.eventDate);
	festTitle = data.brindis.festTitle;
	dateAdditional = data.brindis.dateAdditional;
	cardValue = data.brindis.cardValue;
	alias = data.brindis.alias;
	formLink = data.brindis.formLink;
}
else {
	eventDate = new Date(data.cena.eventDate);
	festTitle = data.cena.festTitle;
	formLink = data.cena.formLink;
}
// const eventDate = (isBrindis) ? new Date(data.brindis.eventDate) : new Date(data.cena.eventDate);

// Obtenemos cada parte por separado
const weekday = eventDate.toLocaleDateString('es-AR', { weekday: 'long' });
const day = eventDate.getDate();
const month = eventDate.toLocaleDateString('es-AR', { month: 'long' });

// Capitalizamos el día de la semana
const formattedWeekday = weekday.charAt(0).toUpperCase() + weekday.slice(1);

// Hora en 24hs
const formattedTime = eventDate.toLocaleTimeString('es-AR', {
  hour: '2-digit',
  minute: '2-digit',
  hour12: false,
});

// Resultado sin la coma:
const formattedDate = `${formattedWeekday} ${day} de ${month} - ${formattedTime} hs`;


---
<div class="absolute inset-0 bg-[url('/images/cieloconestrellas.webp')] bg-cover bg-center grayscale brightness-50" data-background></div>
<div class="relative z-10 flex flex-col justify-center items-center gap-4 p-10">
       <img src="/images/discoball.webp" alt="Gif de bola de disco" class="h-[35%] w-[35%] sm:h-[15%] sm:w-[15%] lg:h-[8%] lg:w-[8%]" loading="lazy">

        <hr class="h-0.5 w-[25%] sm:w-[22%] mx-auto bg-white">
        <h1 class="font-poltawskinowy text-5xl sm:text-6xl my-1 text-white">{festTitle}</h1>
        <hr class="h-0.5 w-[25%] sm:w-[22%] mx-auto bg-white">
	
		<div class="flex flex-col items-center my-5 bg-white py-5 px-8 rounded-3xl">
			<div class="flex flex-col items-center font-grotesk mb-4">
				<div class="flex flex-col gap-1 text-center mb-1">
					<img src="/images/calendar.webp" alt="Gif de calendario" class="h-12 w-12" loading="lazy">
					<h3 class="text-black font-bold text-2xl mb-1">Día</h3>
				</div>
				<h4 class="text-slate-500 text-lg mb-2">{formattedDate}</h4>
				{isBrindis ? (
						<h4 class="text-slate-400 text-md mb-2">{data.brindis.dateAdditional}</h4>
					) : ('')}
				<a 
  					href="https://www.google.com/calendar/render?action=TEMPLATE&text=FlorFest&dates=20240627/20240628&details=Nos+vemos+en+Jaque+Eventos+🎉&location=Jaque+Eventos&sf=true&output=xml" 
  					target="_blank" 
  					rel="noopener noreferrer"
  					>
  					<button class="btn-purple">Agendar</button>
				</a>
			</div>
	
			<div class="flex flex-col items-center font-grotesk mb-4">
                    <img src="/images/location.webp" alt="Gif de ubicación" class="h-12 w-12" loading="lazy">
					<h3 class="text-black font-bold text-2xl">Lugar</h3>
				
				<h4 class="text-slate-500 text-lg mb-2">{data.location}</h4>
				<a href="https://www.google.com/maps/dir/?api=1&destination=G%C3%BCemes+Sur%2C+S2109+Acebal%2C+Santa+Fe" 
   					target="_blank">
					<button class="btn-purple">¿Cómo llegar?</button>
				</a>
			</div>
	
			<div class="flex flex-col items-center font-grotesk px-4 sm:px-0">
                <img src="/images/check.webp" alt="Gif de ubicación" class="h-12 w-12" loading="lazy">
				<h3 class="text-black font-bold text-2xl mb-1">Asistencia</h3>
				<h4 class="text-slate-500 text-lg text-center leading-snug mb-2">
					{data.dateBefore}
				</h4>
				{isBrindis ? (
						<h4 class="text-slate-400 text-md text-center leading-snug">Valor tarjeta: <span class="text-slate-700">{data.brindis.cardValue}</span></h4>
						<h4 class="text-slate-400 text-md text-center leading-snug mb-2">Alias: <span class="text-slate-700">{data.brindis.alias}</span></h4>
					) : ('')}
				<a 
					href={formLink}
					target="_blank" 
					rel="noopener noreferrer"
				>
					<button class="btn-purple">Confirmar</button>
				</a>
			  </div>
		</div>
</div>
