---
import data from '../data/event.json';
import Modal from './Modal.astro';

const eventDate = new Date(data.eventDate);

// Obtenemos cada parte por separado
const weekday = eventDate.toLocaleDateString('es-AR', { weekday: 'long' });
const day = eventDate.getDate();
const month = eventDate.toLocaleDateString('es-AR', { month: 'long' });

// Capitalizamos el día de la semana
const formattedWeekday = weekday.charAt(0).toUpperCase() + weekday.slice(1);

// Hora en 24hs
const formattedTime = eventDate.toLocaleTimeString('es-AR', {
  hour: '2-digit',
  minute: '2-digit',
  hour12: false,
});

// Resultado sin la coma:
const formattedDate = `${formattedWeekday} ${day} de ${month} - ${formattedTime} hs`;

// Dirección dividida
const [street, city, province] = data.address.split(',');
---

<div class="absolute inset-0 bg-[url('/images/cieloconestrellas.webp')] bg-cover bg-center grayscale brightness-50" data-background></div>
<div class="relative z-10 flex flex-col justify-center items-center gap-4 p-10">
       <img src="/images/discoball.gif" alt="Gif de bola de disco" class="h-[35%] w-[35%] sm:h-[15%] sm:w-[15%] lg:h-[8%] lg:w-[8%]">

        <hr class="h-1 w-[15%] mx-auto bg-white">
        <h1 class="font-roboto text-4xl my-2 text-white">FIESTA</h1>
        <hr class="h-1 w-[15%] mx-auto bg-white">
	
		<div class="flex flex-col items-center my-5 bg-white py-5 px-8 rounded-3xl">
			<div class="flex flex-col items-center font-grotesk mb-4">
				<div class="flex flex-col gap-1 text-center mb-1">
					<img src="/images/calendar.gif" alt="Gif de calendario" class="h-12 w-12">
					<h3 class="text-slate-700 font-bold text-2xl mb-1">Día</h3>
				</div>
				<h4 class="text-slate-500 text-lg mb-2">{formattedDate}</h4>
				<button class="btn-purple">Agendar</button>
			</div>
	
			<div class="flex flex-col items-center font-grotesk mb-4">
                    <img src="/images/location.gif" alt="Gif de ubicación" class="h-12 w-12">
					<h3 class="text-slate-700 font-bold text-2xl">Lugar</h3>
				
				<h4 class="text-slate-500 text-lg mb-2">{data.location}</h4>
				<!-- <Modal /> -->
				<a  href="https://wa.me/5493402574783?text=Hola%21%20Quiero%20confirmar%20mi%20asistencia%20a%20la%20fiesta%20%F0%9F%8E%89" 
   					target="_blank">
					<button class="btn-purple">Confirmar asistencia</button>
				</a>
			</div>
	
			<div class="flex flex-col items-center font-grotesk px-4 sm:px-0">
                <img src="/images/location.gif" alt="Gif de ubicación" class="h-12 w-12">
				<h3 class="text-slate-700 font-bold text-2xl mb-1">Dirección</h3>
				<h4 class="text-slate-500 text-lg text-center leading-snug mb-2">
					{street.trim()}, {city.trim()}, {province.trim()}
				</h4>
				<a href="https://www.google.com/maps/search/?api=1&query=Bv.%20Oro%C3%B1o%201124,%20Rosario,%20Santa%20Fe" 
   					target="_blank">
					<button class="btn-purple">¿Cómo llegar?</button>
				</a>
			  </div>
		</div>
</div>

		