---
import Modal from "./Modal.astro";
import data from '../data/event.json';

const giftData = data.gift;
const giftContent = `${giftData.name}\n${giftData.account}\nAlias: ${giftData.alias}\nCUIT/CUIL: ${giftData.cuit}`;
---

<div class="absolute inset-0 bg-[url('/images/cieloconestrellas.webp')] bg-cover bg-center grayscale brightness-50" data-background></div>
<div class="relative z-10 flex flex-col justify-center items-center gap-4 p-10">
    <h1 class="font-poltawskinowy text-5xl sm:text-6xl my-1 text-white">Regalos</h1>
    <p class="text-white text-lg mb-2 text-center px-4">Nada es más importante que tu presencia, pero si deseas hacerme un presente…</p>
    <img src="/images/gift.webp" alt="Gif de caja de regalo" class="w-20 h-20 mb-4" loading="lazy">
    <button class="btn-purple"
        onclick="document.getElementById('modal-gifs').classList.remove('hidden'); document.getElementById('modal-gifs').classList.add('flex');">
        Número de CBU
    </button>
</div>

<Modal
  id="modal-gifs"
  title="Regalos"
  content={giftContent}
  iconName="/images/gift-black.webp"
/>