---
const { id, title, content, iconName, iconBg = 'bg-white' } = Astro.props;
---

<div id={id} class="modal-overlay fixed inset-0 z-50 hidden items-center justify-center bg-black bg-opacity-90 transition-opacity duration-300">
  <div class="relative max-w-md w-full mx-auto px-4">

    <div class="relative bg-white rounded-[2rem] px-6 pt-16 pb-8 text-center shadow-2xl z-20 scale-100 transition-transform duration-300">

      <!-- <div class={`absolute -top-10 left-1/2 -translate-x-1/2 rounded-full p-4 ${iconBg} shadow-lg`}>
          <img src="images/moño.png" class="w-12 h-12" alt="">
        </div> -->
      {iconName && (
        <div class={`absolute -top-10 left-1/2 -translate-x-1/2 rounded-full p-4 ${iconBg} shadow-lg`}>
          <img src={`${iconName}`} class="w-12 h-12" alt="Icono">
        </div>
      )}

      <button
        class="absolute top-4 right-4 w-8 h-8 rounded-full bg-slate-600 text-white hover:bg-slate-800 transition"
        aria-label="Cerrar modal"
        onclick={`document.getElementById('${id}').classList.remove('flex'); document.getElementById('${id}').classList.add('hidden');`}
      >
        ✕
      </button>

      <h2 class="text-2xl font-semibold text-black mb-2">{title}</h2>
      <p class="text-gray-700 whitespace-pre-line">{content}</p>
    </div>
  </div>
</div>